.indexpage {
  background-image: url("https://t3.ftcdn.net/jpg/00/64/89/08/240_F_64890876_Uic74iHzuIk2PiGDLcSKAc5e4N08lUg6.jpg");
  background-size: cover;
}

.indextext {
  font-size: 30px;
  color: white;
}

.videotext {
    color: white;
    text-align: center; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Roboto', sans-serif;
}

.paddingSkills {
  margin: 200px;
}

.skillsText {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 20px;
}